@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<h3>FH Joanneum</h3>
University of Applied Sciences
<br />
<br />
    Department of Applied Computer Sciences
<br />
    Information Management
<br />
<br />
<address>
    Eckertstraße 30i<br />
    8020 Graz<br />
    Austria<br />
</address>
